<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Redefinição de Senha.</title>
</head>
<body>
   <h3>Olá ${usuario.nome}, você solicitou a redefinição de sua senha</h3>
   <a href="${context}redefine?key=${key}">Clique aqui para redefinir sua senha.</a>.
</body>
</html>