<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
id="WebApp_ID" version="3.0">
  <display-name>ControleLoja</display-name>
  <welcome-file-list>
    <welcome-file>index.xhtml</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>360</session-timeout>
  </session-config>
  
  <!-- ############# Configuração do JSF ########## -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
		<url-pattern>*.xhtml</url-pattern>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	
	<!-- Configuração do Skin do JSF -->
	<context-param>
		<param-name>org.richfaces.skin</param-name>
		<param-value>blueSky</param-value>
	</context-param>
	
	
	<!-- ############# Configuração do Spring ############# -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring-config.xml</param-value>
	</context-param>


	<!-- Inicializa o Spring Web Application Context -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Ativa os escopos web para os beans no Spring -->
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	
	
	<!-- ############# CONFIGURAÇÕES JAAS ############# -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>paginas admnistrativas</web-resource-name>
			<url-pattern>/index.jsf</url-pattern>
			<url-pattern>/index.xhtml</url-pattern>
			<url-pattern>/pages/*</url-pattern>
			
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>

		<auth-constraint>
			<role-name>administradores</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>paginas para Funcionarios</web-resource-name>
			<url-pattern>/index.jsf</url-pattern>
			<url-pattern>/index.xhtml</url-pattern>
			<url-pattern>/pages/CadastroClientes.xhtml</url-pattern>
			<url-pattern>/pages/CadastroFornecedores.xhtml</url-pattern>
			<url-pattern>/pages/CadastroFuncionarios.xhtml</url-pattern>
			<url-pattern>/pages/CadastroProdutos.xhtml</url-pattern>
			<url-pattern>/pages/ConfiguracoesPreferencias.xhtml</url-pattern>
			<url-pattern>/pages/ConfiguracoesUsuarios.xhtml</url-pattern>
			<url-pattern>/pages/ConsultaCompra.xhtml</url-pattern>
			<url-pattern>/pages/ConsultaEstoque.xhtml</url-pattern>
			<url-pattern>/pages/ConsultaFinanceiro.xhtml</url-pattern>
			<url-pattern>/pages/ConsultaVenda.xhtml</url-pattern>
			<url-pattern>/pages/NovaCompra.xhtml</url-pattern>
			<url-pattern>/pages/NovaVenda.xhtml</url-pattern>
			<url-pattern>/pages/RelatorioEstoques.xhtml</url-pattern>
			<url-pattern>/pages/RelatoriosFinanceiros.xhtml</url-pattern>
			<url-pattern>/pages/RelatorioVendasCompras.xhtml</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>

		<auth-constraint>
			<role-name>funcionarios</role-name>
			<role-name>administradores</role-name>
		</auth-constraint>
	</security-constraint>
	<security-role>
		<role-name>administradores</role-name>
	</security-role>
	<security-role>
		<role-name>funcionarios</role-name>
	</security-role>
	
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>ControleLoja</realm-name>
		<form-login-config>
			<form-login-page>/login.jsf</form-login-page>
			<form-error-page>/login.jsf</form-error-page>
		</form-login-config>
	</login-config>

</web-app>